

body {
    background-color: #f4f4f4;
    color: #000;
    margin: 0 !important;
}
* {
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
}

/*----------------------------------------------NAV---------------------------------------*/
header {
    background-color: #fff;
    width: 90%;
    padding: 40px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logo {

    font-size: 48px;
}

nav {
    width: 100%;
    padding: 0;
    background-color: #595;
    border-top: 1px solid #373;
    border-bottom: 1px solid #373;
    height: 40px;
    text-align: center;
    margin: 0 auto;
}

nav .menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 40px;
    line-height: 200%;
    display: inline-block;
}

nav .menu ul a {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 40px;
}

nav > .menu > ul > li:hover > a {
    color: #afa;
}

nav > .menu > ul > li {
    float: left;
    width: 150px;
    height: 40px;
    /*border-right: 1px dashed #fff;*/
}

nav > .menu > ul > li:hover {
    background-color: #484;
}

nav .menu > ul > li:first-child {
    /*border-left: 1px dashed #fff;*/
}

nav > .menu > ul > li > ul {
    display: none;
}

nav > .menu > ul > li:hover > ul {
    display: block;
}

nav> .menu > ul > li > ul > li {
    background-color: #6a6;
    position: relative;
    float: left;
    width: 150px;
    height: 40px;
    z-index: 80;
    border-top: 1px dashed #fff;
}

nav>.menu  > ul > li > ul > li:hover {
    background-color: #595;
}

nav>.menu  > ul > li > ul > li:hover > a {
    color: #afa;
}

label[for=switch] {

    background-color: #000;
    height: 40px;
    width: 40px;
    padding: 0;
    /*display: inline-block;*/
    position: absolute;
    right: 0px;
    display: none;
    margin-top: -1px;
}

.nav-docked {
    z-index: 80;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
}

.container-nav-docked {
    margin-top: 42px;
}
/*---------------------------------------BODY-------------------------------------------*/


.container {
    background-color: #fff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.col1 {

    padding: 20px;
    width: 15%;
    float: left;
    min-height: 600px;
}

.content {
    width: 70%;
    float: left;
    padding: 20px;
    text-align: justify;
}

.col2 {

    padding: 20px;
    width: 15%;
    float: left;
    min-height: 600px;
}

footer {
    background-color: #595;
    text-align: center;
    clear: both;
    /*position: relative;*/
    bottom: 0px;
    padding: 20px;
    width: 100%
}

input#switch {
    display: none;
}


/*----------------------------------------RESPONSIVE------------------------------------*/
@media screen and  (max-width: 1100px) {
    header{
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%
    }
    .col1{
        float:none;
        width: 100%;
        order:2;

    }
    .content{
        float:none;
        width: 100%;
        order:1;

    }
    .col2{
        float:none;
        width: 100%;
        order:3;
    }
    footer{
        float: none;
        width: 100%;
        order: 4;
    }
}

@media screen and (max-width: 750px) {
   nav > .menu {
        display: none;
    }

    label[for=switch] {
        display: block;
    }

    input#switch:checked ~ .menu{
        display: block;

    }
    input#switch:checked ~ .menu > ul > li{
        float:none;

    }
    nav{
        height:auto;
        min-height: 40px;
        text-align: center;
    }
    header{
        width: 100%;
    }
    .content{
        padding:10px;
    }
    header{
        padding: 10px;
    }


}
