body {
    background-color: #f4f4f4;
    color: #000;
    margin: 0 !important;
}

.wrapper {
    width: 100%;
}

header {
    background-color: #fff;
    width: 1000px;
    padding: 40px 0;
    text-align: center;
    margin: 0 auto;
}

.logo {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
}

nav {
    width: 100%;
    padding: 0;
    background-color: #595;
    border-top: 1px solid #373;
    border-bottom: 1px solid #373;
    height: 40px;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

    nav ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-size: 18px;
        height: 40px;
        line-height: 200%;
        display: inline-block;
    }
        nav ul a {
            color: #fff;
            text-decoration: none;
            display: block;
            height: 40px;
        }
    nav > ul > li:hover > a {
        color: #afa;
    }
    nav > ul > li {
        float: left;
        width: 150px;
        height: 40px;
        /*border-right: 1px dashed #fff;*/
    }
        nav > ul > li:hover {
            background-color: #484;
        }
        nav > ul > li:first-child {
            /*border-left: 1px dashed #fff;*/
        }
        nav > ul > li > ul {
            display: none;
        }
        nav > ul > li:hover > ul {
            display: block;
        }
        nav > ul > li > ul > li {
            background-color: #6a6;
            position: relative;
            float: left;
            width: 150px;
            height: 40px;
            z-index: 80;
            border-top: 1px dashed #fff;
        }
            nav > ul > li > ul > li:hover {
                background-color: #595;
            }
                nav > ul > li > ul > li:hover > a {
                    color: #afa;
                }

.nav-docked {
    z-index: 80;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
}

.container-nav-docked {
    margin-top: 42px;
}


.container {
    background-color: #fff;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


.col1 {
    padding: 20px;
    width: 140px;
    float: left;
    min-height: 600px;
}

.content {
    width: 780px;
    float: left;
    padding: 20px;
    text-align: justify;
}

.col2 {
    display: none;
    padding: 20px;
    width: 140px;
    float: left;
    min-height: 600px;
}

footer {
    background-color: #595;
    text-align: center;
    clear: both;
    /*position: relative;*/
    bottom: 0px;
    padding: 20px;
}

* {
    box-sizing: border-box;
}